<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

</head>
<body th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/invoice/create">Rachunki<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" href="/user/goods">Towary i usługi<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/contractors">Kontrahenci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/edit">Uzytkownik</a>
            </li>
        </ul>
        <a class="nav-link" href="/logout">Wyloguj</a>
    </div>
</nav>
</body>
</html>