<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Proszę się zalogować</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Proszę się zalogować</h2>
        <div class="alert alert-success" role="alert" th:if="${success} != null" th:text="${success}">
        </div>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="login" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="hasło" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
        <a style="text-align: center;" href="/registration"><p style="margin-top: 2%">Stwórz konto</p></a>
        <a style="text-align: center;" href="/reset/password/request"><p>Zapomniałeś hasła?</p></a>
        <a style="text-align: center;" href="/"><p>Strona główna</p></a>
    </form>
</div>
</body></html>