<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>

<body>
<div sec:authorize="isAnonymous()">
    <div class="container">
        <form method="POST" modelAttribute="changeUserPasswordForm" th:object="${changeUserPasswordForm}" class="form-signin" enctype="application/x-www-form-urlencoded;charset=UTF-8">
            <h2 class="form-signin-heading">Reset password</h2>

            <div class="alert alert-success" role="alert" th:if="${success} != null" th:text="${success}">
            </div>

            <input style="margin-bottom: 3%;" th:field="*{userName}" type="text" path="username" class="form-control"
                   placeholder="Username" autofocus="true" th:value="${userName}" disabled>

            <p>
                <input th:field="*{oldPassword}" type="text" path="oldPassword" class="form-control" placeholder="Temp password" id="tempPassword" disabled>
            </p>
            <small id="tempPassword-validation" class="text-danger" style="display: none">Please paste temporary password</small>

            <p>
                <input th:field="*{newPassword}" type="password" path="newPassword" class="form-control" placeholder="New password" id="newPassword">
            </p>
            <small id="newPassword-validation" class="text-danger" style="display: none">Please fill new password</small>

            <p>
                <input th:field="*{confirmNewPassword}" type="password" path="confirmNewPassword" class="form-control" placeholder="Confirm new password" id="confirmPassword">
            </p>
            <small id="confirmPassword-validation" class="text-danger" style="display: none">Please confirm new password</small>

            <div th:if="${errors} != null" class="container">
                <div class="alert alert-danger" role="alert" th:each="err : ${errors}" th:text="${err}">
                </div>
            </div>

            <div class="alert alert-danger" role="alert" th:if="${error} != null" th:text="${error}">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
            <a style="text-align: center;" href="login"><p>Back home!</p></a>
        </form>
    </div>
</div>
<script>
    const tempPassword = document.querySelector('#tempPassword');
    const tempPasswordValidation = document.querySelector('#tempPassword-validation');
    const newPassword = document.querySelector('#newPassword');
    const newPasswordValidation = document.querySelector('#newPassword-validation');
    const confirmPassword = document.querySelector('#confirmPassword');
    const confirmPasswordValidation = document.querySelector('#confirmPassword-validation');

    const comparePasswords = function (password, confirm) {
        if (password != confirm) {
            newPasswordValidation.textContent = 'Passwords are not equals!';
            confirmPasswordValidation.textContent = 'Passwords are not equals!';
            newPasswordValidation.style.display = 'block';
            confirmPasswordValidation.style.display = 'block';
            newPassword.style.border = 'solid red';
            confirmPassword.style.border = 'solid red';
        } else {
            newPassword.style.border = 'none';
            confirmPassword.style.border = 'none';
            newPasswordValidation.style.display = 'none';
            confirmPasswordValidation.style.display = 'none';
            newPasswordValidation.textContent = null;
            confirmPasswordValidation.textContent = null;
        }
    }
    tempPassword.addEventListener('focusout', function (event) {
        event.preventDefault();
        if (tempPassword.value === '') {
            tempPassword.style.border = 'solid red';
            tempPasswordValidation.style.display = 'block';
        } else {
            tempPassword.style.border = 'none';
            tempPasswordValidation.style.display = 'none';
        }
    })

    newPassword.addEventListener('input', function (event) {
        event.preventDefault();
        if (newPassword.value === '') {
            newPassword.style.border = 'solid red';
            newPasswordValidation.style.display = 'block';
        } else {
            newPassword.style.border = 'none';
            newPasswordValidation.style.display = 'none';
        }
        if (confirmPassword.value !== '') {
            comparePasswords(newPassword.value, confirmPassword.value);
        }
    })

    confirmPassword.addEventListener('input', function (event) {
        event.preventDefault();
        if (confirmPassword.value === '') {
            confirmPassword.style.border = 'solid red';
            confirmPasswordValidation.style.display = 'block';
        } else {
            confirmPassword.style.border = 'none';
            confirmPasswordValidation.style.display = 'none';
        }
        if (newPassword.value !== '') {
            comparePasswords(newPassword.value, confirmPassword.value);
        }
    })

</script>
</body>
</html>