<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Resetowanie hasła</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>

<body>
<div sec:authorize="isAnonymous()">
    <div class="container">
        <form method="POST" modelAttribute="userForm" th:object="${resetPasswordForm}" class="form-signin">
            <h2 class="form-signin-heading">Resetowanie hasła</h2>

            <div class="alert alert-success" role="alert" th:if="${success} != null" th:text="${success}">
            </div>
            <input style="margin-bottom: 3%;" th:field="*{userName}" type="text" path="username" class="form-control"
                   placeholder="Nazwa użytkownika" autofocus="true" id="username">
            <small id="usernameError" class="text-danger" style="display: none">Proszę podać nazwę użytkownika</small>
            <p>
                <input th:field="*{email}" type="text" path="email" class="form-control" placeholder="Email" id="email">
            </p>
            <small id="email-validation" class="text-danger" style="display: none">Niepoprawny format email</small>

            <div class="alert alert-danger" role="alert" th:if="${error} != null" th:text="${error}">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="sendButton" disabled>Wyślij</button>
            <a style="text-align: center;" href="login"><p style="margin-top: 2%">Powrót na stronę główną</p></a>
        </form>
    </div>
</div>
<script>
    const re = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    const username = document.querySelector('#username');
    const userNameError = document.querySelector('#usernameError');
    const emailValidation = document.querySelector('#email-validation');
    const email = document.querySelector('#email');
    const sendButton = document.querySelector('#sendButton');

    const status = {
        usernameStatus: false,
        emailStatus: false
    }

    const enableSendButton = function (status) {
        let isValid = true;
        Object.values(status).forEach(function (val, i) {
            if (!val) isValid = false;
        })
        sendButton.disabled = !isValid;
    }
    username.addEventListener('focusout', function (event) {
        event.preventDefault();
        if (username.value === '') {
            username.style.border = 'solid red';
            userNameError.style.display = 'block';
            status.usernameStatus = false;
        } else {
            username.style.border = 'none'
            userNameError.style.display = 'none';
            status.usernameStatus = true;
        }
        enableSendButton(status);
    });
    email.addEventListener('input', function (event) {
        event.preventDefault();
        const validationResult = re.test(String(email.value).toLowerCase())
        if (validationResult) {
            emailValidation.style.display = 'none';
            email.style.border = 'none';
            emailStatus = true;
            status.emailStatus = true;
        } else {
            emailValidation.style.display = 'block';
            email.style.border = 'solid red';
            status.usernameStatus = false;
        }
        enableSendButton(status);
    })
</script>
</body>
</html>